In [11]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd
from selenium.webdriver.support.ui import WebDriverWait #특정조건을 기다린 뒤 만족하면 넘어가는 기능을 사용하기 위해 사용 (인터넷속도, 사용자이용급증)
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import urllib
import os

def show(list):
    for i in list:
        print(i)

def GetPaulBassettAddressList(driver):

    driver.get('https://www.baristapaulbassett.co.kr/store/Store.pb')
    shop_list = driver.find_elements_by_css_selector('#shopList > li')
    address_list = []

    for shop in shop_list:
        address = shop.find_element_by_tag_name('address')
        address_list.append(address.text)
    return address_list

In [9]:
driver = webdriver.Chrome('/Users/donguri/Workspace/데이터청년캠퍼스/wc/chromedriver')
paul_list = GetPaulBassettAddressList(driver)
print(paul_list)

['서울시 중구 세종대로 135 코리아나호텔 1층', '서울시 중구 남대문로 81 롯데백화점 본점 지하 1층', '서울시 중구 남대문로81 롯데백화점 본점 2층', '서울시 중구 서소문로 116 유원빌딩 1층', '서울시 중구 을지로 5길 19 페럼타워 1층', '서울특별시 종로구 종로 47SC제일은행본점 폴 바셋', '서울시 중구 퇴계로77 신세계백화점 본점 신관 지하 1층', '서울시 종로구 새문안로3길 12 신문로빌딩 1층', '서울시 종로구 종로 1길 50 더K트윈타워 1층', '서울시 중구 서소문로9길 41-10', '서울특별시 중구 을지로 100파인에비뉴 1층', '서울시 중구 청파로 463 한국경제신문사 1층', '서울시 용산구 한강대로 23길 55 아이파크몰 6층', '서울시 용산구 한남동 257-13', '서울시 마포구 양화로 188 1층', '서울특별시 마포구 월드컵로 1길 14딜라이트 스퀘어 B2', '서울시 강남구 압구정로36길 8 1층', '서울시 영등포구 여의도동 23 IFC몰 L2층', '서울특별시 강남구 언주로 864 서울옥션 강남센터 1층', '서울시 영등포구 여의대로 66 KTB투자증권빌딩 B동 1층', '서울시 영등포구 의사당대로 3, 현대캐피탈 빌딩 1관 1층', '서울시 서초구 잠원로 69 뉴코아 신관 1층', '서울시 강남구 언주로 738 현대모터스튜디오 2층', '서울시 서초구 신반포로 176 신세계백화점 강남점 지하 1층', '서울 서초구 사평대로 205 센트럴시티 파미에스테이션 FP102호', '서울시 강남구 도산대로 75길 22', '서울특별시 서초구 고무래로 26 동관 1F 폴 바셋', '서울시 강남구 청담동 41-2금하빌딩 1층', '서울시 마포구 성암로 267MBC Mall Park 103호', '서울시 서초구 서초동 1303-22교보타워 지하 1,2층', '서울특별시 영등포구 영중로9 신세계백화점 B1층', '서울특별시 영등포구 영중로 15 타임스퀘어 2층 교보문고', '서울시 서초구 서초대로 287 석정빌딩 1층', '서울특별시 서초구 서초대로 411 GT TOWER', '서울특별시 광진구 자양동 227-342번지 더클래식500 지상1층', '서울특별시 서초구 서초동 1501-1 롯데마트 B1', '서울시 서초구 서초동 1327-1홍우제2빌딩 1층', '서울시 강남구 테헤란로 152강남파이낸스센터 지하 1층', '서울시 영등포구 양평동3가 45 롯데마트 1층', '서울 서초구 사임당로 157 1층 101호', '서울시 서초구 방배동 924-20 대명서리풀타워 1층', '서울 강남구 영동대로 513 코엑스몰 P104호', '서울 은평구 진관동 79-15 롯데몰 은평점 1', '서울시 강남구 테헤란로 509NC타워 1층', '서울특별시 관악구 봉천로 209 롯데백화점 관악점 1층', '서울시 구로구 경인로 662 디큐브시티 5층', '서울시 강남구 도곡로 401 롯데백화점 강남점 본관 1층', '서울시 강서구 공항대로 389 부민병원1층', '경기 고양시 덕양구 고양대로 1955스타필드 고양점 4층', '서울시 구로구 구로동 188-25구로G밸리비즈플라자 1층 1호', '서울특별시 구로구 구로동로 148 고대구로병원 신관 1층', '서울특별시 구로구 디지털로26길 38 1층', '서울시 송파구 올림픽로 240 롯데백화점 잠실점 신관 지하 1층', '서울시 노원구 동일로 1414 롯데백화점 노원점 B1', '서울시 송파구 신천동 29 롯데월드몰 캐주얼동 5층', '서울특별시 강남구 일원동 717 1층 폴 바셋', '서울 강동구 천호대로 1005 현대백화점 천호점 지하1층', '광명시 오리로 883', '서울시 강서구 하늘길 38 롯데백화점 김포공항점 GF층', '경기도 남양주시 다산순환로50 현대아울렛 128호', '서울시 강동구 상일로6길 21 `한국종합기술사옥 1층', '경기도 김포시 고촌읍 아라육로 152번길 100 현대 프리미엄아울렛 김포점 101호', '경기도 하남시 위례대로 200 4층 폴 바셋', '경기도 안양시 동안구 시민대로 180 지하 1층', '경기도 의정부시 평화로 525 신세계백화점 3층', '경기도 부천시 길주로 180 현대백화점 중동점 1층', '경기도 고양시 일산동구 중앙로 1205 차움라이프센터 1층 폴 바셋', '경기도 의정부시 금오동 439-38 의정부 을지대병원 별관 1층', '경기도 하남시 미사대로750 스타필드 하남 지하 1층', '경기도 하남시 미사대로750 스타필드 하남 3층', '경기도 고양시 일산서구 호수로 817현대백화점 킨텍스점 지하1층', '경기도 성남시 분당구 황새울로360번길 42AK플라자 분당점 지하 1층', '경기도 성남시 분당구 황새울로 200번길 45 롯데백화점 분당점 1층', '경기도 용인시 수지구 포은대로 536 신세계백화점 경기점 7층', '경기도 용인시 수지구 성복동 23번지 롯데몰 수지점 B1층', '경기도 시흥시 서해안로 699신세계 시흥 프리미엄 아울렛 2503호', '시흥시 정왕동 2511 써밋플레이스1층', '경기도 김포시 양촌읍 석모리 1030', '경기도 수원시 영통구 광교중앙로 145 광교엘포트아이파크 1층', '경기도 파주시 탄현면 필승로 200 파주 프리미엄아울렛 543호', '경기 수원시 팔달구 덕영대로 924AK플라자 수원점 지하 1층', '경기도 수원시 권선구 세화로 134 롯데몰수원점 2층 32호', '경기도 용인시 기흥구 중부대로 495 수원컨트리클럽 골프연습장 지하 1층', '인천시 연수구 송도과학로 16번길 33-3 C동 112호, 211호', '경기도 화성시 오산동 967-2419', '인천 중구 영종해안남로321번길 186 영종도 파라다이스시티 플라자 H 103호', '안성시 공도읍 서동대로 3980 스타필드 2층 2300호', '경기도 여주시 상거동 460 신세계여주프리미엄아울렛점 200동 642호', '충청북도 청주시 흥덕구 직지대로 308 현대백화점 충청점 지하1층', '대전시 유성구 용산동 579 현대아울렛대전점 1층', '대전광역시 서구 계룡로 598롯데백화점 대전점 1층', '전주시 덕진구 장동 1111 디엠씨티1층', '전주시 덕진구 금암동 711-3', '전주시 완산구 온고을로2 롯데백화점 전주점 1층', '대구광역시 북구 칠성동 2가 302-155 롯데백화점 대구점 지하 2층', '대구 중구 달구벌대로 2077 현대백화점 대구점 지하1층', '대구시 동구 동부로 149대구 신세계백화점 본관 지하 1층', '대구시 동구 효신로 88대구 신세계백화점 별관 6층', '광주광역시 광산구 장신로 98 롯데아울렛 수완점 1층', '광주광역시 서구 무진대로 932 신세계백화점 광주점 지하 1층', '경남 창원시 성산구 상남로 121 롯데백화점 창원점 영프라자 지하 1층', '울산광역시 남구 삼산로 261 현대백화점 울산점 1층', '경상남도 김해시 장유로 469 롯데아울렛 신관 1층', '부산시 부산진구 가야대로 772롯데백화점 부산본점 지하2층', '부산광역시 해운대구 센텀 4로 15(신세계 센텀시티몰점) 지하 2층', '부산광역시 해운대구 센텀남대로 35 신세계센텀시티 9층', '부산시 해운대구 우동 1408번지 아이파크 T1동 104호,105호', '부산광역시 중구 중앙대로 2 롯데백화점 광복점 B1', '부산시 기장군 기장읍 기장해안로 147 롯데몰 동부산점 1층 F&B 코너', '제주시 아라이동 2436 폴 바셋']

In [17]:
df = pd.DataFrame(paul_list)
df

                                            0
0                   서울시 중구 세종대로 135 코리아나호텔 1층
1               서울시 중구 남대문로 81 롯데백화점 본점 지하 1층
2                   서울시 중구 남대문로81 롯데백화점 본점 2층
3                     서울시 중구 서소문로 116 유원빌딩 1층
4                    서울시 중구 을지로 5길 19 페럼타워 1층
..                                        ...
105            부산광역시 해운대구 센텀남대로 35 신세계센텀시티 9층
106     부산시 해운대구 우동 1408번지 아이파크 T1동 104호,105호
107              부산광역시 중구 중앙대로 2 롯데백화점 광복점 B1
108  부산시 기장군 기장읍 기장해안로 147 롯데몰 동부산점 1층 F&B 코너
109                        제주시 아라이동 2436 폴 바셋

[110 rows x 1 columns]